:root {
	--darkgray: #272727;
	--lightgreen: #e3f6f5;
	--darkgreen: #bae8e8;
	--turquoise: #66bfbf;
	--pink: #f76b8a;
	--txt-grey: #5c5959;
	--txt-shadow: #c3c3c3;
	--white: #fff;
	--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h3,
h5,
h6,
p,
div,
span {
	font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
	margin: 0;
}

p {
	font-size: 18px;
	line-height: 1.5;
}

/* NAVBAR */
.navbar.bg-dark {
	background-color: var(--darkgray) !important;
	color: var(--darkgreen);
}

.navbar-brand {
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: "Audiowide", sans-serif;
	color: var(--white);
	font-size: 24px;
}

.navbar-brand:hover {
	color: var(--turquoise) !important;
}

.nav-link {
	font-family: "Montserrat", sans-serif;
	color: var(--white);
	font-weight: 500;
	padding: 8px 16px !important;
}

.nav-link:hover {
	text-decoration: overline !important;
	color: var(--turquoise) !important;
}

.nav-link.active {
	text-decoration: overline !important;
	color: var(--pink) !important;
}
/* --------------------------------------------------------- */
/* HEADER */
.masthead {
	height: 100vh;
	background-color: var(--lightgreen);
	background-size: cover;
	min-height: 40rem;
	padding-top: 4.5rem;
	padding-bottom: 0;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.header-content hr {
	border: 1px solid var(--turquoise) !important;
	width: 50%;
	margin: 20px 0;
}

.avatar {
	background: var(--turquoise);
	border-radius: 50%;
	max-width: 65%;
	height: auto;
}

.title-1 {
	font-size: 48px;
	opacity: 0.9;
}

.title-2 {
	font-size: 96px;
	font-family: "Audiowide", sans-serif;
	text-shadow: 3px 5px 7px var(--txt-shadow);
}

.title-3 {
	font-size: 24px;
	opacity: 0.7;
	color: var(--pink);
}

@media only screen and (max-width: 576px) {
	.title-1 {
		font-size: 28px;
		opacity: 0.9;
	}

	.title-2 {
		font-size: 38px;
		font-family: "Audiowide", sans-serif;
	}

	.title-3 {
		font-size: 16px;
		opacity: 0.7;
	}
}
/* ---------------------------------------- */

/* SECTION - RECENT WORK */
.recent-work-section {
	margin: 100px auto;
	background-color: var(--white);
}

.recent-work-section .section-title {
	font-size: 48px;
	margin-bottom: 45px;
	text-align: center;
}

@media only screen and (max-width: 576px) {
	.recent-work-section .section-title {
		font-size: 38px;
		text-align: left;
	}
}

.portfolio-project .project-title {
	text-shadow: 2px 3px 5px var(--txt-shadow);
}

.portfolio-project .project-description {
	text-shadow: 2px 3px 5px var(--txt-shadow);
	font-size: 16px;
	color: var(--txt-grey);
}
/* ----------------------------------------------- */

/* SECTION - CONTACT */
.contact-section {
	padding: 30px 0;
	background-color: var(--turquoise);
	font-size: 16px !important;
}

.contact-section p {
	font-size: 16px;
}

.contact-section .section-title {
	font-size: 38px;
	margin-bottom: 20px;
	text-shadow: 2px 3px 5px var(--txt-grey);
}

@media only screen and (max-width: 576px) {
	.contact-section .section-title {
		font-size: 30px;
	}
}
/* ----------------------------------------------- */

/* FOOTER SECTION  */
.footer-section {
	background-color: var(--darkgray);
	color: var(--white);
	padding: 20px 0;
	font-size: 13px;
}

.social-media-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-media-icons img {
	opacity: 0.7;
	margin: 0 15px;
}

.social-media-icons img:hover {
	opacity: 1;
}
/* ----------------------------------------------- */

/* GENERAL STYLES */
.section-title {
	font-family: "Audiowide", sans-serif;
	text-shadow: 2px 3px 5px var(--txt-shadow);
}
/* ----------------------------------------------- */

/* BUTTONS AND LINKS */
.navigation-links {
	display: flex;
	justify-content: center;
}

.primary-link {
	border-radius: 4px;
	padding: 20px 25px;
	text-decoration: none;
	font-weight: 500;
	background: var(--turquoise);
	box-shadow: var(--box-shadow);
	color: var(--white);
	font-size: 18px;
	text-align: center;
}

.primary-link:hover {
	opacity: 0.9;
}

.secondary-link {
	border-radius: 4px;
	padding: 20px 25px;
	text-decoration: none;
	font-weight: 500;
	background: var(--pink);
	box-shadow: var(--box-shadow);
	color: var(--white);
	font-size: 18px;
	text-align: center;
}

.secondary-link:hover {
	opacity: 0.9;
}
/* ----------------------------------------------- */

.about-paragraphs {
	margin: 30px 0;
}

.about-paragraphs p {
	margin: 10px;
}

.email-link {
	display: flex;
	justify-content: center;
	color: var(--primary-color);
	font-size: 28px;
	text-decoration: none;
}

.email-link:hover {
	text-decoration: underline;
}
